.unaccept-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.unaccept-border {
  padding: 1rem 2rem;
  height: 100%;  
}

.unaccept-logo {
  text-decoration: underline;
}

.unaccept-refresh {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  padding: 0.25rem 0.5rem;
}

.unaccept-refresh:focus {
  outline: none;
}

.unaccept-refresh:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;   
}

.unaccept-item-area {
  max-height: 85%;
  overflow-y: hidden  
}

.unaccept-item-area {
  overflow-y: scroll;  
}