.file-item {
  border: 1px solid #22232a;
  background-color: #2e333d;
  border-radius: 10px;
  padding: 1rem;
  width: 96%;  
}

.file-item-title {
  padding: 0.15rem 1rem;
  width: 60%;  
  font-size: 18px;
}

.file-item:hover .file-item-title {
  font-weight: bold;  
}

.file-item-date {
  width: 37%;  
  font-size: 15px;
}

.date-value {
  font-size: 12px;
}

.file-delete-area {
  width: 18%;  
}

.file-delete-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px; 
  padding: 5px 1rem;  
}

.file-delete-btn:focus {
  outline: none;
}

.file-delete-btn:hover {
  color: #db2a2a;
  border-color: #db2a2a;
  background-color: #3b3d41;
}

.border-file {
  border: 1px solid transparent; 
  
}

.file-show {
  width: 100%;
  height: 75rem; 
}

.send-file-request {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px; 
  padding: 5px 1rem;
}

.send-file-request:focus {
  outline: none;
}

.send-file-request:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;
}