.user-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.user-border {
  padding: 1rem 2rem;
  height: 100%;  
}

.user-logo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.user-selection-area {
  width: 100%;  
}

.user-type {
  background-color: #36364e;
  border-color: #191929;
  color: white;
  font-weight: bold;
  width: 12%;  
}

.search-user {
  background-color: #36364e;
  border: 1px solid #191929;
  border-radius: 5px;  
  color: white;
  padding: 0 0.5rem;
}

.user-list-area {
  border: 1px solid transparent;
  height: 85%;
  overflow-y: hidden;
}

.user-list-area:hover {
  overflow-y: scroll;
}

.user-list-item {
  border: 1px solid #22232a;
  background-color: #2e333d;
  border-radius: 10px;
  padding: 1rem;
  width: 96%;  
}

.user-list-detail {
  padding: 0 1rem;
  width: 100%;  
}

.user-list-detail:hover .user-list-name {
  font-weight: bold;
}

.user-list-detail .user-list-detail {
  font-size: 14px;
}

.btn-delete {
  padding: 0 1rem;
  background-color: transparent;
  border: 2px solid white;  
  border-radius: 40px;
  color: white;
  font-weight: bold;
}

.btn-delete:focus {
  outline: none;
}

.btn-delete:hover {
  color: red;
  border-color: red;
  background-color: #3b3d41;
}

.btn-ban {
  padding: 0 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
  font-weight: bold;
}

.btn-ban:focus {
  outline: none;
}

.btn-ban:hover {
  color: red;
  border-color: red;
  background-color: #3b3d41;
}

.btn-unban {
  padding: 0 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 40px;
  font-weight: bold;
}

.btn-unban:focus {
  outline: none;
}

.btn-unban:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;
}