.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.back-btn {
  position: fixed;
  color: white;
  border: 1px solid white;
  border-radius: 40px;
  padding: 1rem;
  font-size: 20px;
}

.back-btn:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;
  text-decoration: none;
}

.edited {
  color: #00b7ff;
}

.edited:hover {
  font-weight: bold;
  text-decoration: none;
}

.modal-bg {
  background-color: #282c34;
}

.modal-body-bg {
  background-color: #4c5361;
  color: white;
}

.warning {
  color: #ffd900;
  text-decoration: underline;
}

.wait-btn {
  -webkit-animation: dotmove 1s infinite;
  animation: dotmove 1s infinite;
}

@keyframes dotmove {
  from {margin-right: 0px;}
  to {margin-right: 5px;}
}

.switch-circle {
  border: 1px solid white;
  border-radius: 35%; 
  background-color: #eee;
  padding: 0.5rem;
}

.right-bar-back-btn {
  position: fixed;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 1rem;
  border-radius: 15px; 
  color: white;
  box-shadow: none;
}

.right-bar-back-btn:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;
}

.right-bar-select-btn {
  position: fixed;
  right: 0;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 1rem;
  border-radius: 15px; 
  margin-right: 1rem;
  color: white;
  box-shadow: none;
}

.right-bar-select-btn:hover {
  color: #00b7ff;
  border-color: #00b6ff;
  background-color: #3b3d41;
}

.collapse-area {
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  background-color: #393e49;
}

.collapse-item {
  padding: 0 2rem;
  width: 100%;
}

.collapse-item-head {
  width: 13%;
}

.collapse-item-item {
  width: 86%;
}