.status-item {
  border: 1px solid #22232a;
  background-color: #2e333d;
  border-radius: 10px;
  padding: 1rem;
  width: 96%;
}

.status-item:hover .item-title {
  font-weight: bold;
}

.item-title {
  font-size: 18px;
  width: 78%;
}

.item-status {
  width: 20%;
}

.item-arrow {
  width: 2%;
}

.img-border {
  border: 1px solid transparent;
  width: 100%;
  height: transparent;
}

.clear-img {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.clear-img:hover {
  color: #00b7ff;
  font-weight: bold;
  text-decoration: underline;
  -webkit-text-decoration: underline;
}

.clear-img:hover::before {
  content: "> "
}

.clear-img:hover::after {
  content: "! <"
}

.paid-review {
  cursor: pointer;
}

.paid-review:hover::after {
  content: " (click for view receipt)"
}

.reject-preview {
  cursor: pointer;
}

.reject-preview:hover::after {
  content: " (click for upload new receipt)"
}

.delete-btn-request {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px; 
  padding: 5px 1rem;
}

.delete-btn-request:focus {
  outline: none;
}

.delete-btn-request:hover {
  color: #db2a2a;
  border-color: #db2a2a;
  background-color: #3b3d41;
}

.payment-info-item {
  width: 100%;
}

.payment-info-head {
  padding-left: 2rem;
  font-weight: bold;
  width: 37%;
}

.payment-info-body {
  width: 60%;
}

.payment-info-star {
  width: 35%;
}

.payment-info-emoji {
  width: 25%;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.service-info {
  cursor: pointer;
}

.service-info:hover {
  color: #00b7ff;
}

.rate-btn {
  cursor: pointer;
}

.rate-btn:hover {
  color: #00b7ff;
}
.view-score {
  cursor: pointer;
}

.view-score:hover::after {
  content: " (click for view score)"
}

.comment-area {
  border-radius: 5px;
  padding: 0 0.5rem;
  width: 100%;
}