.report-list-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.report-list-border {
  padding: 1rem 2rem;
  height: 100%; 
}

.report-list-logo {
  text-decoration: underline;
}

.report-list-area {
  max-height: 90%;
  overflow-y: hidden;
}

.report-list-area:hover {
  overflow-y: scroll;
}