.score-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;  
}

.score-border {
  padding: 1rem 2rem;
  height: 100%;  
}

.score-logo {
  text-decoration: underline;    
}

/* star */

.score-star-border {
  padding: 0.5rem 1rem;
  margin-right: 20%;
  border: 1px solid #fff; 
  border-radius: 15px; 
}

.score-star {
  padding: 1rem 1rem;
  width: 100%;
}

.star-logo {
  font-size: 20px;
  font-weight: bold;
  width: 20%;
}

.star-score {
  width: 50%;
}

.star-percent {
  font-size: 20px;
  font-weight: bold;
  width: 20%;
}

/* comment */

.score-comment-border {
  padding: 0.5rem;
  margin-right: 20%;
  border-bottom: 1px solid transparent;
  max-height: 45%;
  overflow-y: hidden;
}

.score-comment-border:hover {
  overflow-y: scroll;
}

.comment-detail:hover .comment-user {
  font-weight: bold;
}

.image-avater {
  border-radius: 50%;
  background-color: #fff;
}

.comment-time {
  font-size: 10px;
}

.comment-close {
  border-bottom: 1px dashed #fff;
}

.star-emoji {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 