.income-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.income-border {
  padding: 1rem 2rem;
  height: 100%; 
}

.income-logo {
  font-weight: bold;
  text-decoration: underline;
}

.income-type-area {
  width: 100%;
}

.income-type {
  background-color: #36364e;
  border-color: #191929;
  color: white;
  font-weight: bold;
  width: 10%;
}

.income-present-area {
  height: 85%;
}

.income-present-list {
  height: 95%;
  background-color: #36364e;
  border: 1px solid transparent;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  overflow-y: hidden;
}

.income-present-graph {
  height: 95%;
  background-color: #36364e;
  border: 1px solid transparent;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 1rem;
  overflow-y: hidden;
}

.income-present-border:hover {
  overflow-y: scroll;
}

.income-tab {
  border: 0;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.income-tab:focus {
  outline: none;
}

.active {
  /* border: 2px solid #00b7ff; */
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #36364e;
  color: #00b7ff;
  background-color: #36364e;
}

/* list */

.income-item {
  border: 1px solid #30323f;
  background-color: #3a414e;
  border-radius: 10px;
  padding: 1rem;
  width: 96%;
}

.income-title {
  width: 98%;
}

.income-item:hover .title-up-size {
  font-weight: bold;  
}

.income-collapse {
  background-color: #485266;
}

.income-table {
  margin: 0.5rem;
  border-bottom: 1px dashed white;
}

.income-table-item {
  padding: 0.5rem 0.5rem 0 1rem;
  width: 100%;
}

.table-value {
  padding-left: 0.5rem;
}

/* graph */

.graph-border {
  padding: 2rem 0;
  border-radius: 15px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}