.file-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;  
}

.file-border {
  padding: 1rem 2rem;
  height: 100%;
}

.file-logo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.file-list {
  max-height: 93%;
  overflow-y: hidden;
}

.file-list {
  overflow-y: scroll
}