.service-rate-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.service-rate-border {
  padding: 1rem 2rem;
  height: 100%;
}

.service-rate-logo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.service-rate-list {
  border: 1px solid transparent;
  height: 85%;
  overflow-y: hidden;  
}

.service-rate-list:hover {
  overflow-y: scroll;  
}

.service-rate-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 1.5rem;
  font-size: 18px;
}

.service-rate-item .index {
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-rate-item .name {
  width: 16%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}

.service-rate-item .price {
  width: 11%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-rate-item .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%; 
}

.service-rate-item .bar .value {
  height: 24px;
  background-color: white;  
}