.account-container {
  position: fixed;
  text-align: left;
  width: 100%;
  height: 100%;
  left: 20rem;
  top: 0;
}

.account-detail-border {
  position: fixed;
  top: 5rem;
  padding: 1rem;
  padding-top: 0.2rem;
  width: 78%;
  height: 100%;
  text-align: center;
}

/* account sidebar */

.account-sidebar-logo {
  width: 100%;
  background-color: #4e535a;
  padding: 1rem;
  font-size: 25px; 
  font-weight: bold;
}

.account-sidebar-item {
  cursor: pointer;
  padding: 1rem;
}

.account-sidebar-item:hover {
  font-weight: bold;
  background-color: #61666e;
}

.account-sidebar {
  position: fixed;
  background-color: #6c737c;
  width: 20rem;
  height: 100%;
  left: 0;
  top: 0;
}

/* account settint */

.account-setting {
  background-color: #7a7f85;
  border: 2px solid #20202c;
  border-radius: 15px;
  padding: 1rem;
  height: 100%;
  overflow-y: hidden;
}

.account-setting:hover {
  overflow: scroll;
}

.setting-head {
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration: underline;
  margin-left: 2rem;
}

.setting-item-container {
  margin: 2rem;
  margin-top: 1rem;
  height: 38%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.setting-item-container:hover {
  overflow: scroll;
}

.setting-item {
  width: 100%;
  border-bottom: 1px solid #aaa; 
  padding: 0.5rem;
}

.setting-title {
  width: 20%;
  padding-left: 2rem;
  font-size: 18px;
  text-align: left;
}

.setting-value {
  width: 70%;
  text-align: left;
}

.password:hover {
  color: #00b7ff;
}

.avatar-container {
  width: 100%
}

.image-wraper {
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #747474; 
  cursor: pointer;
  width: 12rem;
  height: 12rem;
}

.image-wraper:hover {
  opacity: 0.7;
}

.image-wraper .avatar-border {
  width: 12rem;
  height: 12rem; 
}

.image-wraper .edit-avatar {
  font-size: 15px;
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;
}

.image-wraper:hover .edit-avatar {
  visibility: visible;
  color: #dbdbdb;
}

.avatar-modal {
  width: 50rem;
  height: 50rem;
}

.avatar-list-img {
  align-items: center;
  width: 8rem;
  height: 8rem;
  opacity: 0.6;
}

.avatar-list-img:hover {
  opacity: 1;
}

.change-password {
  cursor: pointer;
  text-decoration: underline;
}

.change-password:hover {
  color: #00b7ff;
  font-weight: bold;
}

.change-password .change-password-icon {
  display: none;
}

.change-password:hover .change-password-icon {
  display: inline;
}

/* account payment */

.account-payment {
  background-color: #7a7f85;
  border: 2px solid #20202c;
  border-radius: 15px;
  padding: 1rem;
  height: 100%;
}

.credit-area {
  padding: 0 2rem;
  text-align: left;
}

.history-container {
  margin-top: 1rem;
}

.history-border-head {
  font-size: 18px;
  font-weight: bold;
  background-color: #56595e;
  padding: 1rem;
}

.history-length {
  position: absolute;
  width: 87%;
  max-height: 55%;
  overflow-y: hidden;
}

.history-length:hover {
  overflow-y: scroll;
}

.history-border {
  padding: 1rem;
  border-bottom: 1px dashed white;
}

.history-item {
  text-align: center;
  width: 100%
}

/* account service */

.account-service {
  background-color: #7a7f85;
  border: 2px solid #20202c;
  border-radius: 15px;
  padding: 1rem;
  height: 100%;
}

.service-border {
  border-radius: 15px;
  padding: 1rem;
  width: 90%;
  height: 100%;
}

.service-head {
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration: underline;
  margin-bottom: 2rem;
}

.service-content {
  text-align: left;
  height: 70%;
  overflow-y: hidden;
}

.service-content:hover {
  overflow-y: scroll;
}

.service-item {
  border-bottom: 1px solid #aaa; 
  width: 100%;
}

.sevice-item-head {
  text-align: center;
  font-weight: bold;
  width: 30%;
}

.service-edit-btn {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 1rem;
  border-radius: 15px; 
}

.service-edit-btn:focus {
  outline: none;
}

.service-edit-btn:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #5b5f66;
}

.btn-up-qrcode {
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 0;
  border-radius: 15px; 
}

.btn-up-qrcode:focus {
  outline: none;
}

.btn-up-qrcode:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #5b5f66;
}
