.report-item-border {
  border: 1px solid #22232a;
  background-color: #2e333d;
  border-radius: 10px;
  padding: 1rem;
}

.report-item-inner-border {
  border: 1px solid #484a57;
  background-color: #484a57;
  border-radius: 10px;
  padding: 1rem;
}

.delete-report-btn {
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  padding: 5px 1rem;
  border-radius: 15px;  
}

.delete-report-btn:focus {
  outline: none;  
}

.delete-report-btn:hover {
  color: red;
  border-color: red;
  background-color: #3b3d41;  
}

