.upload-field {
  width: 100%;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
}

.upload-border {
  padding: 6%;
  border-radius: 5px;
  background-color: #28282f;
  border: 1px solid #3d3f4d;
}

.btn-upload-border {
  border: 1px solid white;
}

.in-upload-field {
  color: rgb(100, 100, 100);
}

label {
  font-weight: bold;
}

.my-progress {
  width: 100%;
  background-color: #ddd;
}

#my-bar {
  width: 0%;
  height: 10px;
  background-color: #4bb14e;
}

.send-request-item {
  width: 100%;
}

.send-request-head {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  width: 50%;
  word-break: break-all;
}

.send-request-body {
  padding: 1rem;
  width: 50%;
  word-break: break-all;
}

.send-request-quantity {
  width: 25%;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.send-request-budget {
  width: 35%;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0 0.5rem;
}