.report-border {
  border: 1px solid #3d3f4d;
  border-radius: 10px;
  background-color: #28282f;
  padding: 0.5rem 1rem;
  width: 30rem;
}

.report-select {
  width: 100%;
}

.report-text {
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.report-text:focus {
  outline: none;
}

.btn-send-report {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 40px;
  padding: 0.5rem 1rem;
}

.btn-send-report:focus {
  outline: none;
} 

.btn-send-report:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;  
} 