.request-item {
  border: 1px solid #22232a;
  background-color: #2e333d;
  border-radius: 10px;
  padding: 1rem;
  width: 96%;
}

.request-item:hover .item-title {
  font-weight: bold;  
}

.item-title {
  font-size: 18px;
  width: 78%;
}
  
.item-status {
  width: 20%;
}
  
.item-arrow {
  width: 2%;
}

.item-select {
  font-weight: bold;
  background-color: #4c4c6b;
  border-color: #191929;  
  color: white;
  width: 80%;
}

.save-price {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px; 
  padding: 5px 1rem;
}

.save-price:focus {
  outline: none;
}

.save-price:hover {
  color: #00b7ff;
  border-color: #00b7ff;
  background-color: #3b3d41;
}

.price-input {
  width: 5%;
  border-color: transparent;
  border-radius: 5px; 
}

.reject-item {
  width: 100%;
}

.reject-input {
  border-color: transparent;
  border-radius: 5px;
  width: 90%; 
}

.customer-info {
  cursor: pointer;
}

.customer-info:hover {
  color: #00b7ff;
}

.path-tag {
  color: white;
}

.path-tag:hover {
  color: #00b7ff;
  text-decoration: none;
}