.map-container {
  position: absolute;
  top: 0%;
  left: -50%;
  width: 100%;
  height: 100%;
}

.map-search {
  padding: 2rem;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  border: 1px solid transparent;
}

.map-border {
  width: 50%;
}

.search-data-border {
  height: 82%;
}

.map-back {
  position: fixed;
  bottom: 0%;
}

.data-item-area {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.data-item-area:hover {
  overflow-y: scroll;
}

.data-item {
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid white;
}

.data-item-paddding {
  padding: 1rem;
}

.data-item:hover {
  font-weight: bold;
  background-color: #393d42;
}