.request-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.request-border {
  padding: 1rem 2rem;
  height: 100%;
}

.request-logo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.request-type-area {
  width: 100%;
}

.request-type {
  background-color: #36364e;
  border-color: #191929;
  color: white;
  font-weight: bold;
  width: 12%;
}

.request-list {
  height: 90%;
  overflow-y: hidden;
}

.request-list:hover {
  overflow-y: scroll;
}