#embed {
  position: fixed;
  left: 0;
  top: 0;
  width: 65%;
  height: 100%;
  touch-action: pan-x pan-y;
  z-index: 1;
}

.file-detail {
  position: fixed;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: #5d6366;
}

.file-detail-border {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}

.detail-object {
  font-size: 19px;
  padding-left: 2rem;
}

.tab-value {
  font-size: 16px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.preview-back-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 34%;
}