.status-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  text-align: left;
}

.status-border {
  padding: 1rem 2rem;
  height: 100%;
}

.status-logo {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1rem;
}

.status-list {
  height: 95%;
  overflow-y: hidden;  
}

.status-list:hover {
  overflow-y: scroll;  
}