.sidebar-btn-container {
  position: fixed;
  font-size: 30px;
  color: white;
  background-color: #1b1e24;
  padding: 0.7%;
  padding-right: 1%;
  padding-top: 0;
  border: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar-btn {
  cursor: pointer;
}

.sidebar-container {
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  color: white;
  background-color: #6c737c;
}

.sidebar-logo {
  background-color: #4e535a;
  padding: 1rem;
  font-size: 25px; 
  font-weight: bold;
}

.sidebar-item-container {
  overflow-y: hidden;
  height: 84%;
}

/* .sidebar-item-container:hover {
  overflow-y: scroll;
} */

.sidebar-item-bottom {
  position: absolute;
  background-color: #4e535a;
  width: 100%;
  bottom: 0;
}

.sidebar-user-container {
  border-bottom: 1px solid #ddd;
  background-color: #5f656d;
  padding: 1rem;
}

.sidebar-user-pic {
  margin: 0 1rem;
}

.sidebar-item {
  padding: 1rem;
  cursor: pointer;
}

.sidebar-item:hover {
  font-weight: bold;
  background-color: #61666e;
}

.sidebar-bottom-item {
  width: 50%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.sidebar-bottom-item:hover {
  background-color: #313131;
  font-weight: bold;
}

.user-avatar {
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  width: 3rem;
  height: 3rem;
}

.sidebar-report-item {
  background-color: #61666e;
  padding: 1rem;
}

.sidebar-report-item:hover {
  background-color: #575c63;
}

.litle-username {
  font-size: 12px;
  margin-bottom: -1px;
}

.auth {
  width: 46%
}